/* Este é um comentario no css */

/*
  CSS aplica estilos de acordo com a tag 
*/

/*
Exemplo: se eu quiser trocar a cor de fundo da pagina, posso utilizar o seletor 'body' :

body {
  estilo que quero aplicar
}

*/

body {
    background-color: black; /* troca a cor de fundo*/
    color: white; /* muda a cor do texto*/
    font-family: cursive; /*troca o tipo da fonte*/

}

img {
  width: 500px; /* largura do elemnto*/
  /*height: 500px;*/ /*altura do elemeto */

  transition: all 1s; /* adiciona efeito de mudança suave na animação de estado*/
}
img:hover {
  box-shadow: 0px 0px 15px rgb(194, 8, 8); 
  /*Adiciona sombra em imagens*/
}


button {
  background-color: darkblue;
  border: none; /* Retira a borda padrão */
  border-radius: 5px; /* cantos arredondados */
  color: aliceblue; 
  /* topo direita baixo esquerda*/
  margin: 5px;
  padding: 5px 5px 5px 5px; /*espaçamento interno*/
}

button:hover {
  background-color: rgb(87, 0, 0); 
  color: black;
  cursor: pointer; /* muda o ícone do cursor do mouse*/
}